@keyframes fadeInUpBlur {
    0% {
      opacity: 0;
      transform: translateY(-30px);
      filter: blur(10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
      filter: blur(0);
    }
  }

  .fade-in-up-blur {
    animation: fadeInUpBlur 1.5s ease-out forwards;
  }
  .fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  }
  
  .fade-in.show {
    opacity: 1;
    transform: translateY(0);
  }
/* Estilos generales */
.carousel-container {
  max-width: 100%;
  overflow: hidden;
}

/* Carrusel de desplazamiento continuo */
.carousel-track {
  display: flex;
  width: max-content; /* Permite que el contenido ocupe el ancho necesario */
  animation: scroll 60s linear infinite;
}

.carousel-track img {
  max-height: 100px;
  margin-right: 1rem; /* Espacio entre las imágenes */
  transition: transform 0.5s;
}

/* Animación para desplazamiento horizontal continuo */
@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

/* Efecto de giro en hover */
.carousel-track img:hover {
  transform: scale(1.1) rotate(10deg);
}