@keyframes fadeInUpBlur {
  0% {
    opacity: 0;
    transform: translateY(-30px);
    filter: blur(10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
    filter: blur(0);
  }
}

.fade-in-up-blur {
  animation: fadeInUpBlur 1.5s ease-out forwards;
}

.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-in.show {
  opacity: 1;
  transform: translateY(0);
}

.carousel-container {
  max-width: 100%;
  overflow: hidden;
  position: relative;
  background-color: #fff5eb;
}


.carousel-track {
  display: flex;
  width: max-content;
  animation: scroll 60s linear infinite;
}

.carousel-track img {
  max-height: 100px;
  margin-right: 2rem;
  transition: transform 0.5s;
}

.fade-left,
.fade-right {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50px;
  pointer-events: none;
  z-index: 1;
}

.fade-left {
  left: 0;
  background: linear-gradient(to right, rgba(255, 245, 235, 1), rgba(255, 245, 235, 0));
}

.fade-right {
  right: 0;
  background: linear-gradient(to left, rgba(255, 245, 235, 1), rgba(255, 245, 235, 0));
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.carousel-track img:hover {
  transform: scale(1.1) rotate(10deg);
}
.main-content {
  position: relative;
  z-index: 10;
}