body {
  overflow-x: hidden;
}

@keyframes bounceInLeft {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  60% {
    opacity: 1;
    transform: translateX(10px);
  }
  80% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes bounceInRight {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  60% {
    opacity: 1;
    transform: translateX(-10px);
  }
  80% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}

.bounce-in-left {
  animation: bounceInLeft 2s cubic-bezier(0.68, -0.55, 0.27, 1.55) forwards;
}

.bounce-in-right {
  animation: bounceInRight 2s cubic-bezier(0.68, -0.55, 0.27, 1.55) forwards;
}


.carousel-track img:hover {
  transform: scale(1.1) rotate(10deg);
}
.main-content {
  position: relative;
}