.toggle-switch {
    position: relative;
    width: 50px;
    height: 26px;
    margin: 10px;
}

.toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.toggle-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.toggle-slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .toggle-slider {
    background-color: #25D366; /* Color verde de WhatsApp */
}

input:checked + .toggle-slider:before {
    transform: translateX(24px);
}

/* Estado apagado con fondo gris oscuro */
.toggle-slider {
    background-color: #34383C;
}